In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [3]:
df_spark = spark.read.csv('test2.csv',header=True, inferSchema=True)
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    Ali|  35|        15|100000|
| Prince|  31|        11| 90000|
|   Ploy|  35|      null| 90000|
| Dipesh|null|         6| 85000|
|   null|  35|        15|  null|
|   null|  65|        30|  null|
|Randall|  30|        10| 70000|
|  Bhumi|  29|      null| 60000|
| Laxita|null|         5| 70000|
+-------+----+----------+------+

In [4]:
df_spark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

Drop the Columns

In [5]:
df_spark = df_spark.drop('Name')
df_spark.show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  35|        15|100000|
|  31|        11| 90000|
|  35|      null| 90000|
|null|         6| 85000|
|  35|        15|  null|
|  65|        30|  null|
|  30|        10| 70000|
|  29|      null| 60000|
|null|         5| 70000|
+----+----------+------+

In [6]:
df_spark = spark.read.csv('test2.csv',header=True, inferSchema=True)
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    Ali|  35|        15|100000|
| Prince|  31|        11| 90000|
|   Ploy|  35|      null| 90000|
| Dipesh|null|         6| 85000|
|   null|  35|        15|  null|
|   null|  65|        30|  null|
|Randall|  30|        10| 70000|
|  Bhumi|  29|      null| 60000|
| Laxita|null|         5| 70000|
+-------+----+----------+------+

Dropping rows based on null values

In [8]:
### how = (any / all)
# If we select the parameter how = any, then if any of the row has even 1 null value, the whole row will be dropped.
#If we select the parameter how = all, then the row will be dropped only if all the values are Null in that row

df_spark.na.drop(how='all').show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    Ali|  35|        15|100000|
| Prince|  31|        11| 90000|
|   Ploy|  35|      null| 90000|
| Dipesh|null|         6| 85000|
|   null|  35|        15|  null|
|   null|  65|        30|  null|
|Randall|  30|        10| 70000|
|  Bhumi|  29|      null| 60000|
| Laxita|null|         5| 70000|
+-------+----+----------+------+

In [9]:
df_spark.na.drop(how = 'any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|    Ali| 35|        15|100000|
| Prince| 31|        11| 90000|
|Randall| 30|        10| 70000|
+-------+---+----------+------+

In [15]:
# Threshold - thresh
# This parameter says that in order to delete a row, atleast thresh number of non-null values needs to be present.
# In the below example, all the rows will be dropped that do not have atleast 3 non null values
df_spark.na.drop(how='any', thresh=3).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    Ali|  35|        15|100000|
| Prince|  31|        11| 90000|
|   Ploy|  35|      null| 90000|
| Dipesh|null|         6| 85000|
|Randall|  30|        10| 70000|
|  Bhumi|  29|      null| 60000|
| Laxita|null|         5| 70000|
+-------+----+----------+------+

In [16]:
# Subset
# Subset parameters allows us to select the column from which the null values should be dropped.
# In the below example, all the rows that have null values in the Experience column will be dropped.

df_spark.na.drop(how='any', subset = ['Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    Ali|  35|        15|100000|
| Prince|  31|        11| 90000|
| Dipesh|null|         6| 85000|
|   null|  35|        15|  null|
|   null|  65|        30|  null|
|Randall|  30|        10| 70000|
| Laxita|null|         5| 70000|
+-------+----+----------+------+

Fill the missing values

In [17]:
df_spark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|           Ali|  35|        15|100000|
|        Prince|  31|        11| 90000|
|          Ploy|  35|      null| 90000|
|        Dipesh|null|         6| 85000|
|Missing Values|  35|        15|  null|
|Missing Values|  65|        30|  null|
|       Randall|  30|        10| 70000|
|         Bhumi|  29|      null| 60000|
|        Laxita|null|         5| 70000|
+--------------+----+----------+------+

In [18]:
df_spark.na.fill('99999').show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    Ali|  35|        15|100000|
| Prince|  31|        11| 90000|
|   Ploy|  35|      null| 90000|
| Dipesh|null|         6| 85000|
|  99999|  35|        15|  null|
|  99999|  65|        30|  null|
|Randall|  30|        10| 70000|
|  Bhumi|  29|      null| 60000|
| Laxita|null|         5| 70000|
+-------+----+----------+------+

In [19]:
df_spark.na.fill({'Name':'Missing Values', 'Age':99999, 'Experience':-99999, 'Salary':0}).show()

+--------------+-----+----------+------+
|          Name|  Age|Experience|Salary|
+--------------+-----+----------+------+
|           Ali|   35|        15|100000|
|        Prince|   31|        11| 90000|
|          Ploy|   35|    -99999| 90000|
|        Dipesh|99999|         6| 85000|
|Missing Values|   35|        15|     0|
|Missing Values|   65|        30|     0|
|       Randall|   30|        10| 70000|
|         Bhumi|   29|    -99999| 60000|
|        Laxita|99999|         5| 70000|
+--------------+-----+----------+------+

Replace Null with Mean, Mode and Median

To replace the values, we will need an Imputer function from spark package.

In [21]:
from pyspark.ml.feature import Imputer

In [22]:
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy('mean')

In [23]:
imputer.fit(df_spark).transform(df_spark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|    Ali|  35|        15|100000|         35|                15|        100000|
| Prince|  31|        11| 90000|         31|                11|         90000|
|   Ploy|  35|      null| 90000|         35|                13|         90000|
| Dipesh|null|         6| 85000|         37|                 6|         85000|
|   null|  35|        15|  null|         35|                15|         80714|
|   null|  65|        30|  null|         65|                30|         80714|
|Randall|  30|        10| 70000|         30|                10|         70000|
|  Bhumi|  29|      null| 60000|         29|                13|         60000|
| Laxita|null|         5| 70000|         37|                 5|         70000|
+-------+----+----------+------+-----------+------------------+--------------+

In [24]:
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy('median')

imputer.fit(df_spark).transform(df_spark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|    Ali|  35|        15|100000|         35|                15|        100000|
| Prince|  31|        11| 90000|         31|                11|         90000|
|   Ploy|  35|      null| 90000|         35|                11|         90000|
| Dipesh|null|         6| 85000|         35|                 6|         85000|
|   null|  35|        15|  null|         35|                15|         85000|
|   null|  65|        30|  null|         65|                30|         85000|
|Randall|  30|        10| 70000|         30|                10|         70000|
|  Bhumi|  29|      null| 60000|         29|                11|         60000|
| Laxita|null|         5| 70000|         35|                 5|         70000|
+-------+----+----------+------+-----------+------------------+--------------+

In [25]:
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy('mode')

imputer.fit(df_spark).transform(df_spark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|    Ali|  35|        15|100000|         35|                15|        100000|
| Prince|  31|        11| 90000|         31|                11|         90000|
|   Ploy|  35|      null| 90000|         35|                15|         90000|
| Dipesh|null|         6| 85000|         35|                 6|         85000|
|   null|  35|        15|  null|         35|                15|         70000|
|   null|  65|        30|  null|         65|                30|         70000|
|Randall|  30|        10| 70000|         30|                10|         70000|
|  Bhumi|  29|      null| 60000|         29|                15|         60000|
| Laxita|null|         5| 70000|         35|                 5|         70000|
+-------+----+----------+------+-----------+------------------+--------------+